:root {
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.window {
    width: 90%;
    max-width: 140rem;
    height: 40rem;
    position: relative;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid black;
    overflow: hidden;
}

.scene {
    width: 100%;
    height: inherit;
    position: relative;
}

.scene .scene__floor {
    width: 100%;
    height: 2.8rem;
    background-color: rgb(138, 137, 126);
    position: absolute;
    bottom: 0;
}

.scene .scene__obstacle {
    position: absolute;
    left: 160rem;
    bottom: .9rem;
}

.scene .scene__cactus {
    display: none;
    width: 6.84rem;
    height: 8.28rem;
    background-image: url('../images/cactus_sprite.png');
    background-size: contain;
}

.scene .scene__water-bottle {
    display: none;
    width: 3.7rem;
    height: 8.2rem;
    
    background-image: url('../images/water-bottle_sprite.png');
    background-size: contain;
}

.scene .scene__obstacle.scene__obstacle--cactus [data-obstacle="cactus"],
.scene .scene__obstacle.scene__obstacle--water-bottle [data-obstacle="water-bottle"] {
    display: block;
}

.level-counter {
    word-spacing: -1.2rem;
    font-family: 'Press Start 2P';
    color: rgb(70, 70, 70);
}

.level-counter .mini {
    position: absolute;
    top: 2rem;
    right: 2rem;  
    font-size: 1.6rem;
}

.level-counter .big {
    width: 100%;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translateX(50%) translateY(-50%);
    visibility: hidden;
    text-align: center;
    font-size: 6.4rem;
}

.level-counter .big.up {
    animation: up .4s ease-out 1 forwards;
}

#dino {
    position: absolute;
    bottom: 0;
    left: 1rem;
    animation-play-state: running;
}

#dino.jump {
    animation: jump .8s ease-in-out;
}

#dino.hit {
    filter: hue-rotate(200deg) saturate(300%);
}

#dino img {
    display: none;
    width: 11rem;
}

#dino.frame1 img:nth-of-type(1),
#dino.frame2 img:nth-of-type(2),
#dino.frame3 img:nth-of-type(3) {
    display: block;
}

#screen > * {
    display: none;
}

#screen.screen--start .screen__start-screen,
#screen.screen--end .screen__end-screen {
    display: block;
}

.overlay {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    background: rgba(0, 0, 0, .7);
}

.overlay .content {
    margin-top: 4rem;
    text-align: center;
}

.overlay .content h1 {
    text-transform: uppercase;
    font-size: 4rem;
}

.overlay .content button {
    margin-top: 3.5rem;
    padding: 1.2rem 2rem;
    word-spacing: -.7rem;
    text-transform: uppercase;
    font-family: 'Press Start 2P';
    font-size: 2rem;
    color: white;
    background: rgb(245, 167, 50);
    border: none;
    border-radius: 1.2rem;
    cursor: pointer;
}

.overlay .content button:active {
    transform: translateY(2px);
}

.overlay.screen__start-screen .content h1 span:nth-of-type(1) {
    font-family: 'Rubik Moonrocks';
    color: rgb(23, 208, 148);
}

.overlay.screen__start-screen .content h1 span:nth-of-type(2) {
    font-family: 'Bungee';
    color: white;
}

.overlay.screen__start-screen .content h1 span:nth-of-type(3) {
    font-family: 'Bungee';
    color: rgb(103, 113, 255);
}

.overlay.screen__end-screen {
    display: none;
}

.overlay.screen__end-screen .content {
    margin-top: 7.3rem;
}

.overlay.screen__end-screen .content h1 {
    word-spacing: -2.2rem;
    font-family: 'Press Start 2P';
    color: white;
}

.overlay.screen__end-screen .content button {
    margin-top: 6.4rem;
    background: rgb(103, 113, 255);
}

@keyframes jump {
    0% {
        bottom: 0;
    }

    50% {
        bottom: 11rem;
    }

    100% {
        bottom: 0;
    }
}

@keyframes move {
    to {
        left: -17rem;
    }
}

@keyframes up {
    0% {
        visibility: visible;
        transform: translateX(50%) translateY(-10%);
    }

    100% {
        transform: translateX(50%) translateY(-50%);
    }
}

@media (max-width: 1000px) {
    :root {
        font-size: 14px;
    }
}