* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.window {
    width: 1300px;
    height: 400px;
    position: relative;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid black;
    overflow: hidden;
}

.scene {
    width: inherit;
    height: inherit;
    position: relative;
}

.scene .scene__floor {
    width: 100%;
    height: 28px;
    background-color: rgb(138, 137, 126);
    position: absolute;
    bottom: 0;
}

.scene .scene__cactus {
    display: block;
    width: 68.4px;
    height: 82.8px;
    position: absolute;
    left: 1600px;
    bottom: 9px;
    background-image: url('../images/cactus_sprite.png');
    background-size: contain;
}

.scene .scene__water-bottle {
    display: none;
    width: 37px;
    height: 82px;
    position: absolute;
    left: 1600px;
    bottom: 9px;
    background-image: url('../images/water-bottle_sprite.png');
    background-size: contain;
}

.level-counter {
    word-spacing: -12px;
    font-family: 'Press Start 2P';
    color: rgb(70, 70, 70);
}

.level-counter .mini {
    position: absolute;
    top: 20px;
    right: 20px;  
    font-size: 16px;
}

.level-counter .big {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translateX(50%) translateY(-50%);
    visibility: hidden;
    font-size: 64px;
}

.level-counter .big.up {
    animation: up .4s ease-out 1 forwards;
}

#dino {
    position: absolute;
    bottom: 0;
    left: 10px;
    animation-play-state: running;
}

#dino img {
    display: none;
    width: 110px;
}

#dino img:nth-of-type(1) {
    display: block;
}

.overlay {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    background: rgba(0, 0, 0, .7);
}

.overlay .content {
    margin-top: 40px;
    text-align: center;
}

.overlay .content h1 {
    text-transform: uppercase;
    font-size: 40px;
}

.overlay .content button {
    margin-top: 35px;
    padding: 12px 20px;
    word-spacing: -7px;
    text-transform: uppercase;
    font-family: 'Press Start 2P';
    font-size: 20px;
    color: white;
    background: rgb(245, 167, 50);
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.overlay.start-screen .content h1 span:nth-of-type(1) {
    font-family: 'Rubik Moonrocks';
    color: rgb(23, 208, 148);
}

.overlay.start-screen .content h1 span:nth-of-type(2) {
    font-family: 'Bungee';
    color: white;
}

.overlay.start-screen .content h1 span:nth-of-type(3) {
    font-family: 'Bungee';
    color: rgb(103, 113, 255);
}

.overlay.end-screen {
    display: none;
}

.overlay.end-screen .content {
    margin-top: 73px;
}

.overlay.end-screen .content h1 {
    word-spacing: -22px;
    font-family: 'Press Start 2P';
    color: white;
}

.overlay.end-screen .content button {
    margin-top: 64px;
    background: rgb(103, 113, 255);
}

@keyframes jump {
    0% {
        bottom: 0;
    }

    50% {
        bottom: 110px;
    }

    100% {
        bottom: 0;
    }
}

@keyframes scene {
    to {
        left: -170px;
    }
}

@keyframes up {
    0% {
        visibility: visible;
        transform: translateX(50%) translateY(-10%);
    }

    100% {
        transform: translateX(50%) translateY(-50%);
    }
}